Adding more dummy data.

In [2]:
USE Highschool

INSERT INTO employee_roles(role_name) VALUES
('Receptionist')

INSERT INTO employees(role_id, first_name, last_name) VALUES
(2, 'Maria', 'Andersson'),
(3, 'Hans', 'Johansson'),
(3, 'Nils', 'Fjord'),
(6, 'Anna', 'Winsconsin')

INSERT INTO classes(teacher_id, class_name) VALUES
(8, 'NAT24'),
(8, 'ENG23'),
(9, 'LIN22')

INSERT INTO students(class_id, first_name, last_name, social_security) VALUES
(1, 'Lily', 'Night', '100823-9419'),
(1, 'Xander', 'Hansson', '100312-5159'),
(2, 'Willow', 'Redleaf', '090515-5136'),
(2, 'Buffy', 'Summers', '090130-5954'),
(3, 'Klaus', 'Fried', '110216-5131'),
(4, 'Brennan', 'Mulligan', '080925-9482'),
(5, 'Craig', 'Valta', '070615-0318'),
(6, 'Nils', 'Song', '100224-9418'),
(6, 'Vicky', 'Danvers', '100712-0415'),
(7, 'Frida', 'Tidzon', '090316-8517'),
(8, 'Tyler', 'Scream', '080518-4189')

INSERT INTO grades(student_id, teacher_id, subject_code, student_grade, grade_set) VALUES
(8, 8, 'MAT3', 'E', '2024-06-15'),
(9, 8, 'SVE4', 'B', '2023-09-18'),
(8, 9, 'FYS1', 'A', '2024-12-26'),
(10, 9, 'MAT6', 'F', '2023-10-13'),
(15, 4, 'REL2', 'C', '2024-03-04')

Updating database with new subject table to hold all different subjects.

In [6]:
CREATE TABLE subjects(
    subject_id INT IDENTITY PRIMARY KEY,
    subject_code VARCHAR(50) NOT NULL,
    subject_name VARCHAR(50) NOT NULL
)

Adding the dummydata to the subject table

In [7]:
INSERT INTO subjects(subject_code, subject_name) VALUES
('MAT3', 'Matte 3'),
('MAT4', 'Matte 4'),
('MAT5', 'Matte 5'),
('MAT6', 'Matte 6'),
('MAT7', 'Matte 7'),
('FYS1', 'Fysik 1'),
('FYS2', 'Fysik 2'),
('FYS3', 'Fysik 3'),
('SVE4', 'Svenska 4'),
('REL2', 'Religion 2')

Updating grades table to add new subject\_id column.

In [ ]:
ALTER TABLE grades ADD subject_id INT

Updating grades table with connection to new subjects table. Done by adding corresponding subject\_id to subject\_code.

In [14]:
UPDATE grades
SET grades.subject_id = subjects.subject_id
FROM grades g
JOIN subjects ON g.subject_code = subjects.subject_code
WHERE g.subject_code = subjects.subject_code

Removing depricated subject\_code column from grades table.

In [16]:
ALTER TABLE grades DROP COLUMN subject_code

Adding foreign key restraint to subject\_id in grades table to make a connection to subject table.

In [19]:
ALTER TABLE grades ADD CONSTRAINT fk_subject_id FOREIGN KEY (subject_id) REFERENCES subjects(subject_id)

Query to add new possible\_grades table containing the possible grades a student can get.

In [23]:
CREATE TABLE possible_grades(
    grade_id INT IDENTITY PRIMARY KEY,
    grade_letter varchar(2) NOT NULL
)

Query to add data to possible\_grades.

In [24]:
INSERT INTO possible_grades (grade_letter) VALUES
('F'),
('E'),
('D'),
('C'),
('B'),
('A')

Updating grades table to add new student\_grade\_id column

In [25]:
ALTER TABLE grades ADD student_grade_id INT

Updating grades table with connection to new possible\_grades table. This is done by adding corrosponding student\_grade\_id to the grade they have in student\_grade.

In [26]:
UPDATE grades
SET grades.student_grade_id = possible_grades.grade_id
FROM grades g
JOIN possible_grades ON g.student_grade = possible_grades.grade_letter
WHERE g.student_grade = possible_grades.grade_letter

Removing depricated student\_grade column from grades table.

In [27]:
ALTER TABLE grades DROP COLUMN student_grade

Adding foreign key restraint to student\_grade\_id in grades table to make a connection to possible\_grades table.

In [28]:
ALTER TABLE grades ADD CONSTRAINT fk_student_grade_id FOREIGN KEY (student_grade_id) REFERENCES possible_grades(grade_id)

Query to get all employees.

In [31]:
SELECT
employees.first_name + ' ' + employees.last_name AS 'Employee Name',
employee_roles.role_name
FROM employees
JOIN employee_roles ON employees.role_id = employee_roles.role_id

Employee Name,role_name
Lasse Andersson,Rektor
Sara Sjögren,Administratör
Anna Melin,Lärare
Lars Havreson,Lärare
Birgitta Gunnarson,Vaktmästare
Markus Svensson,Skolsjuksköterska
Maria Andersson,Administratör
Hans Johansson,Lärare
Nils Fjord,Lärare
Anna Winsconsin,Receptionist
Ferdinand Brookes,Receptionist

Query to get all employees with a certain role. To get other roles change Lärare to a role in employee\_roles table.

In [32]:
SELECT
employees.first_name + ' ' + employees.last_name AS 'Employee Name',
employee_roles.role_name
FROM employees
JOIN employee_roles ON employees.role_id = employee_roles.role_id
WHERE employee_roles.role_name = 'Lärare'

Employee Name,role_name
Anna Melin,Lärare
Lars Havreson,Lärare
Hans Johansson,Lärare
Nils Fjord,Lärare

Query to get the grades set during the last month.

In [29]:
SELECT
students.first_name + ' ' + students.last_name AS studentfullname,
subjects.subject_name,
possible_grades.grade_letter
FROM grades
JOIN students ON grades.student_id = students.student_id
JOIN subjects ON grades.subject_id = subjects.subject_id
JOIN possible_grades ON grades.student_grade_id = possible_grades.grade_id
where datediff(month, grades.grade_set, getdate()) = 1

studentfullname,subject_name,grade_letter
Mark Brightson,Matte 5,A
Vicky Handy,Matte 4,B
Vicky Handy,Matte 6,C
Lily Night,Fysik 1,A

Query to get all subjects with mediangrade, highest and lowest grade in those subjects.

In [102]:
DECLARE @AverageGrade INT
SELECT
subjects.subject_name,
CASE CAST(ROUND(AVG(CAST(grades.student_grade_id AS DECIMAL (3,2))), 0) AS INT)
    WHEN 6 THEN 'A'
    WHEN 5 THEN 'B'
    WHEN 4 THEN 'C'
    WHEN 3 THEN 'D'
    WHEN 2 THEN 'E'
    WHEN 1 THEN 'F'
END AS 'Average Grade',
CASE MAX(grades.student_grade_id) 
    WHEN 6 THEN 'A'
    WHEN 5 THEN 'B'
    WHEN 4 THEN 'C'
    WHEN 3 THEN 'D'
    WHEN 2 THEN 'E'
    WHEN 1 THEN 'F'
END AS 'Highest Grade',
CASE MIN(grades.student_grade_id) 
    WHEN 6 THEN 'A'
    WHEN 5 THEN 'B'
    WHEN 4 THEN 'C'
    WHEN 3 THEN 'D'
    WHEN 2 THEN 'E'
    WHEN 1 THEN 'F'
END AS 'Lowest Grade'
FROM grades
JOIN subjects ON subjects.subject_id = grades.subject_id
GROUP BY subjects.subject_name

subject_name,Average Grade,Highest Grade,Lowest Grade
Fysik 1,A,A,B
Fysik 3,C,C,C
Matte 3,C,A,E
Matte 4,B,B,B
Matte 5,A,A,A
Matte 6,D,C,F
Matte 7,A,A,A
Religion 2,D,C,E
Svenska 4,C,B,D

Query to add new students. Social security is written in the format YYMMDD-XXXX. To add a student add the required data into the parentheses.

In [ ]:
INSERT INTO students (class_id, first_name, last_name, social_security)
()